<body >
<section  >

  <div class="appcontentfront">
    <h1 class="anim">build your future</h1>
    <p>SkillMatcher is a new social media platform to create job opportunities and let the candidates apply online.
      Let's discover all it's amazing features.
    </p>
    <a style="display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background: linear-gradient(45deg, #C26A92, #8670A9);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: -1;"
       onmouseover="this.style.background='linear-gradient(45deg, #8670A9, #C26A92)'"
       onmouseout="this.style.background='linear-gradient(45deg, #C26A92, #8670A9)'"
     href="/content" class="btn">Check app</a>
    

  </div> 
  <div class="feature-img">
    <img src="assets/img/SMApplication.png">
  </div>
  
</section>
<br>
<br>
<br>
  <section class="section">
    <div class="additional-content" style="margin-top: 10px;">
      <h2 style="margin-left: 10px;color: black;">Toutes les offres de travail/stage</h2>
    </div>
  
    <div class="row justify-content-center">
      <div class="col-lg-3" *ngFor="let offre of offres">
        <div class="card">
          <img class="card-img-top" src="/assets/img/joboppr.png" alt="Image 1">
        
          <div class="card-body">
            <h5 class="card-title"> {{ offre.nom }}</h5>
            <p class="card-text"><b>Description :</b> {{ offre.description }}</p>
            <p class="card-text"><b>Date d'expiration : </b>{{ offre.dateexpiration | date:'medium' }}</p>
            <button    style="background-color: #28708D;color: white;" 
            class="btn"
           
            onmouseover="this.style.backgroundColor='#8670A9';"
            onmouseout="this.style.backgroundColor='#28708D';"
            (click)="postulerClicked()"
          > Postuler</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
  