<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<main id="main" class="main">
<section class="section">
    <!-- Ajoutez ici les éléments que vous souhaitez placer au-dessus des cartes -->
    <div class="additional-content" >
        <h2>Les candidats postulés</h2>
       
        <!-- Vous pouvez ajouter d'autres éléments ici -->
    </div>

    <div class="row justify-content-center" >
        <div class="col-lg-3" >
            <!-- Card with an image on top -->
            <div class="card">
                <img src="assets/img/messages-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">foulena fouleni</h5>
                 
                   
                    <div class="buttons">
                      Informations <button class="btn btn-info">
                        <i class="fas fa-eye"></i> 
                    </button>
                        <button class="btn btn-success" (click)="successNotification()">Accepter</button> <!-- Bouton "Accepter" -->
                        <button class="btn btn-danger" (click)="alertConfirmation()">Refuser</button>   <!-- Bouton "Refuser" -->
                       
                      </div>
                </div>
            </div><!-- End Card with an image on top -->
        </div>

        <div class="col-lg-3">
            <!-- Card with an image on top -->
            <div class="card">
                <img src="assets/img/messages-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">foulenia ben foulen</h5>
                   
                    <div class="buttons">
                      
                        Informations <button class="btn btn-info">
                          <i class="fas fa-eye"></i> 
                          </button>
                        <button class="btn btn-success" (click)="successNotification()">Accepter</button> <!-- Bouton "Accepter" -->
                        <button class="btn btn-danger" (click)="alertConfirmation()">Refuser</button>   <!-- Bouton "Refuser" -->
                      </div>
                </div>
            </div><!-- End Card with an image on top -->
        </div>

        <div class="col-lg-3">
            <!-- Card with an image on top -->
            <div class="card">
              <img src="assets/img/messages-3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">fouleni foulen</h5>
                
                <div class="buttons">
                  Informations <button class="btn btn-info">
                    <i class="fas fa-eye"></i> 
                    </button>
                  <button class="btn btn-success" (click)="successNotification()">Accepter</button> <!-- Bouton "Accepter" -->
                  <button class="btn btn-danger" (click)="alertConfirmation()">Refuser</button>   <!-- Bouton "Refuser" -->
                </div>
              </div>
            </div><!-- End Card with an image on top -->
          </div>
          
          
    </div>
</section>
</main>