<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
 
</head>
<body>

<div class="container mt-5"  style="margin-left: 300px;">
  <h1 style="margin-top: 70px;">Modifier Offre</h1>

  <form [formGroup]="forminput">
    <div class="mb-2">
      <label for="inputNom" class="form-label">Nom</label>
      <input type="text" class="form-control" id="inputNom" name="nom" formControlName="nom">
    </div>
    
    <div class="mb-2">
      <label for="inputDescription" class="form-label">Description</label>
      <textarea class="form-control" id="inputDescription" name="description" formControlName="description" rows="4"></textarea>
    </div>
    
    <div class="mb-2">
      <label for="inputCategory" class="form-label">Select Category</label>
      <select class="form-select" id="inputCategory" name="selectedCategory" formControlName="selectedCategory">
        <option value="" disabled selected>Select category</option>
        <option value="IT">IT</option>
        <option value="Marketing">Marketing</option>
        <option value="Finance">Finance</option>
      </select>
    </div>
    
    <div class="mb-2">
      <label for="inputDate" class="form-label">Date d'expiration</label>
      <input type="date" class="form-control" id="inputDate" name="dateexpiration" formControlName="dateexpiration">
    </div>
    
    <div class="mb-2">
      <label for="inputImage" class="form-label">Image</label>
      <input type="file" class="form-control" id="inputImage" name="image" formControlName="image">
    </div>
    
    
  </form>

  <div class="mt-2">
    <a routerLink="/body/gestionoffre" class="btn btn-secondary">Fermer</a>
    <button type="submit" class="btn btn-primary" (click)="updateOffre()">Modifier</button>
  </div>
</div>


</body>
</html>
