<main id="main" class="main">
<section class="section">
    <!-- Ajoutez ici les éléments que vous souhaitez placer au-dessus des cartes -->
    <div class="additional-content" style="margin-top: 10px;" style="margin-left: -300px;">
        <h2>Les conseils avant de postuler</h2>
        <p>Voici trois conseils importants à considérer avant de postuler à un emploi.</p>
        <!-- Vous pouvez ajouter d'autres éléments ici -->
    </div>

    <div class="row justify-content-center" style="margin-left: -300px;" >
        <div class="col-lg-3" >
            <!-- Card with an image on top -->
            <div class="card">
                <img src="assets/img/recherche.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Recherche Approfondie de l'Entreprise et du Poste</h5>
                    <p class="card-text" style="text-indent: 20px;">Avant de postuler, prenez le temps de bien comprendre l'entreprise, sa culture, ses valeurs, son secteur d'activité et ses réalisations récentes. Analysez également les détails du poste pour lequel vous postulez, y compris les responsabilités, les compétences requises et les attentes.</p>
                </div>
            </div><!-- End Card with an image on top -->
        </div>

        <div class="col-lg-3">
            <!-- Card with an image on top -->
            <div class="card">
                <img src="assets/img/cv.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Adaptation du CV et de la Lettre de Motivation</h5>
                    <p class="card-text" style="text-indent: 20px;">Chaque poste est unique, et il est crucial d'adapter votre CV et votre lettre de motivation en fonction des besoins spécifiques de l'emploi. Mettez en évidence les compétences et les expériences qui correspondent le mieux à ce qui est recherché.</p>
                </div>
            </div><!-- End Card with an image on top -->
        </div>

        <div class="col-lg-3">
            <!-- Card with an image on top -->
            <div class="card">
                <img src="assets/img/entretien.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Préparation à l'Entretien</h5>
                    <p class="card-text" style="text-indent: 20px;">Anticipez les questions courantes, pratiquez vos réponses et préparez des exemples concrets. Exprimez votre enthousiasme, posez des questions pertinentes et soyez prêt à gérer le stress pour une présentation optimale.</p>
                </div>
            </div><!-- End Card with an image on top -->
        </div>
    </div>
</section>
</main>