
  <div class="card mb-3 custom-card" style="margin-top: 5%;" >
  <div class="d-flex align-items-center justify-content-between px-3 py-1">
    <div class="d-flex">
      <div class="input-group" style="width: 500px;" >
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="searchButton" [(ngModel)]="searchKeyword">
        <button    onmouseout="this.style.background='linear-gradient(45deg, #8670A9, #8670A9)'"
        onmouseover="this.style.background='linear-gradient(45deg, #C26A92, #C26A92)'"
           
            style ="display: inline-block;
          text-decoration: none;
          padding: 10px 20px;
          color: #fff;
          background:  #8670A9;
          
          font-size: 15px;
          border-top-right-radius: -1;"
           class="btn" type="button"   id="searchButton" (click)="search()">Search</button>
      </div>
      <div class="dropdown ms-2"> <!-- Add margin to create spacing between search bar and dropdown -->
        <button
        onmouseout="this.style.background='linear-gradient(45deg, #8670A9, #8670A9)'"
        onmouseover="this.style.background='linear-gradient(45deg, #C26A92, #C26A92)'"
           
            style ="display: inline-block;
          text-decoration: none;
          padding: 10px 20px;
          color: #fff;
          background:  #8670A9;
          
          font-size: 15px;
          border-radius: 10px;
          border-top-right-radius: -1;"
        
        class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Domaine
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" (click)="filterByDomain('IT')">IT</a></li>
          <li><a class="dropdown-item" (click)="filterByDomain('Finance')">Finance</a></li>
          <li><a class="dropdown-item" (click)="filterByDomain('Marketing')">Marketing</a></li>
        </ul>
      </div>
    </div>
  </div>


    <div class="row g-0" *ngFor="let offre of filteredOffres">
      <div class="col-md-3">
        <img src="assets/img/joboppr.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title"><b>{{ offre.nom }}</b></h5>
          <p class="card-text">{{ offre.description }}</p>
          <p class="card-text">Date d'expiration: {{ offre.dateexpiration }}</p>
          <button style ="display: inline-block;
          text-decoration: none;
          padding: 10px 20px;
          color: #fff;
          background:  #C26A92;
          
          font-size: 15px;
          border-top-right-radius: -1;"  type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">Postuler</button>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">formulaire d'application</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Your application form or content here -->
        <form  enctype="multipart/form-data">

        

           <div class="row mb-3">
            <label for="inputCV" class="col-sm-2 col-form-label">CV</label>
            <div class="col-sm-10">
              <input class="form-control" type="file" id="formFileCV" name="CV">

            </div>
          </div>
          
          <div class="row mb-3">
            <label for="inputlettremotivation" class="col-sm-2 col-form-label">Lettre de motivation</label>
            <div class="col-sm-10">
              <input class="form-control" type="file"  name="lettremotivation" >
            </div>
          </div> 
          

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
              <button style ="display: inline-block;
              text-decoration: none;
              padding: 10px 20px;
              color: #fff;
              background:  #C26A92;
              
              font-size: 15px;
              border-top-right-radius: -1;"
              
              type="submit" class="btn" >Submit Form</button>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        
      </div>
    </div>
  </div>
</div>


